.hm-page {
        margin-left: 2%;
        margin-right: 2%;
        background-color: rgb(0, 0, 0);

}

.hmp-hero {
padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    
    justify-content: center; */
    background-attachment: fixed;
    margin-top: 2%;
    border-radius: 10px;
    background-position: center;
    background-size: contain;
    background-image: url("../../media/toms.jpg");

}

.logo{
    border-radius: 50px;
    background-color: white;
}

.hmp-logo-large {
    width: 12rem;
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.1));
}

.hmp-svg-title {
    max-width: 98%;
    height: auto;
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.05));
}

/* Custom scrollbar for a premium feel */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgb(27, 27, 28);
}

::-webkit-scrollbar-thumb {
    background: #f5f5f5;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c4c5c5;
}

.cta{
    /* background-color: red; */
    width: 100%;
    align-items: anchor-center;
    justify-content: space-between;
    display: flex;
}


.we-are-orbs{
  line-height: 1;
    /* background-color: red; */
    color: white;
    font-weight: 900;
    font-size: 3rem;
    width: 26rem;
}


.cta-actions{
        /* place-items: center; */
    /* background-color: green; */
}

.cta-login-btn{
    width: 15rem;
}
.get-started{
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.cta-link{
    width: 100% !important;
    background-color: white;
    color: black;
    padding: .2rem;
    text-align: center;
    display: block;
    border-radius: 50px;
    font-weight: 900;
}

.cta-text{
    font-weight: 300;
    font-size: medium;
}

.cta-link:hover{
    background-color: rgb(223, 223, 228);
}
